.footer {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  text-align: center;
  color: white;
  position: relative;
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=1c1c1c&c2=193319&gt=l&gd=dtt
*/
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=1c1c1c&c2=2c592c&gt=l&gd=dtt
*/
  /* background: #1C1C1C; */
  background: linear-gradient(180deg, var(--hacktober-dark) 30%, #403F7D 100%);
  background-image: url('/assets/footer-bg.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.footer svg {
  display: block;
  margin: 0;
  padding: 0;
}

.footercontents {
  position: relative;
  z-index: 1;
  padding: 40px 20px;
}

.footer h3 {
  color: var(--Theme-Text, #FEFDF8);
  text-shadow: rgb(from rgb(208, 204, 227) r g b / 0.5) 0px 0px 10px;
  font-family: "AtkinsonHyperlegible";
  font-size: 5vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footercontents p {
  color: #FFF;
  font-family: "AtkinsonHyperlegible";
  font-size: 3.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.foot-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-icon img {
  width: auto;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.foss-logo > img {
  max-width: 250px;
}

.foot-icon a {
  text-decoration: none;
}

.foot-icon a:first-child img {
  filter: grayscale(100%);
}

.foss-logo img {
  width: 50vw;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .foot-icon img {
    width: auto;
    margin: 0 10px;
  }
}

@media (min-width: 480px) {
  .foot-icon img {
    width: auto;
    height: 38px;
    margin: 0 10px;
  }
}